<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Feel - Your Journal</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="{%static 'js/htmx.min.js' %}" defer>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="{% static 'journal/css/main.css' %}">
  </head>
  <body>
      <header id="main-heading">
        <c-heading class="heading-primary">{{user.first_name}}'s Journal</c-heading>
      </header>
      <main class="grid-12 grip-gap">
        <a href="{% url 'new_entry' journal_id=journal_id  %}">New Entry</a>
        <section>
          {% for entry in entries %}
          <article>
            <c-heading tag="h3" variant="small">{{entry.created_at}}</c-heading>
            {{entry.observation.feeling}}
            <a href="{% url 'view_journal_entry' journal_id=journal_id entry_id=entry.id %}">Open</a>
          </article>
          {% endfor %}
        </section>
      </main>
  </body>
</html>
