{% extends "base.html" %}
{% load static %}
{% block "title" %}Feel - Your Journal{% endblock %}
{% block app_content %}
      <header class="flex flex-col justify-between items-center m-6 gap-6">
        <section class="flex w-full justify-end">
          <c-menu></c-menu>
        </section>

        <c-heading>Hello {{user.first_name}}</c-heading>
        <a class="btn btn-primary" href="{% url 'new_entry' journal_id=journal_id  %}">Start Today's Journal</a>
      </header>
      <main class="flex gap-6 flex-col px-6">
          {% for entry in entries %}
          <c-card>
            <div class="flex justify-between">
              <c-heading tag="h3" variant="small">{{entry.created_at|date}}</c-heading>
              <c-pill variant="{{entry.observation.feeling}}">{{entry.observation.feeling}}</c-pill>
            </div>
            <p class="text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </p>
          </c-card>
          {% endfor %}
      </main>
{% endblock %}
