/* --- Base Styles --- */
:root {
    --color-yellow: #f6c445;
    --color-red: #e45f2b;
    --color-green: #a0e548;
    --color-blue: #9ac1f0;
    --color-primary: #72fa93;

    --color-black: #000;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-border: rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
}

/* --- Layout --- */
.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid-gap {
    row-gap: 2rem;
}

.mood-button-container {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feeling-section {
    min-height: 100vh;
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
}

.feeling-option-selection {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


/* --- Components --- */
.heading {
    margin: 0;
}

.heading-primary {
    text-align: center;
    font-size: 5rem;
    margin: 2rem 0;
}

.heading-secondary {
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8)
}

.text {
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
}

.text-input {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    box-sizing: border-box;
}

.checkbox {
    &:hover {
        cursor: pointer;
    }   
}

.checkbox input{
    display: none;
}

.checkbox:has(input:checked) {
    background-color: var(--color-primary);
}

.pill {
    background: #c0c0c0;
    color: #404040;
    padding: .25rem .5rem;
    border-radius: 9999px;
    font-weight: 400;
}

.btn {
    border: none;
    font-size: 1.125rem;
    background: var(--btn-bg-color);
    padding: 1rem;
    border-radius: 1rem;

    &:active {
        translate: 0 .2rem;
        background-color: color-mix(in oklab, var(--btn-bg-color), var(--color-black) 7%);
    }

    &:hover {
        cursor: pointer;
        background-color: color-mix(in oklab, var(--btn-bg-color), var(--color-black) 7%);
    }

}

.btn-primary {
    --btn-bg-color: var(--color-primary);
}

.mood-button {
    display: block;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    padding: 2rem;
    color: var(--color-black);
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    box-shadow: .25rem .25rem 1rem var(--color-shadow);
    align-content: center;
    transition: transform .25s;
    background-color: var(--btn-color);

    &:active {
        translate: 0 .2rem;
        background-color: color-mix(in oklab, var(--btn-color), var(--color-black) 7%);
    }

    &:hover {
        background-color: color-mix(in oklab, var(--btn-color), var(--color-black) 7%);
    }
}

.mood-button-icon {
    display: block;
}

/* --- Modifier Classes --- */
.mood-button-green {
    --btn-color: var(--color-green);
}

.mood-button-red {
    --btn-color: var(--color-red);
}

.mood-button-yellow {
    --btn-color: var(--color-yellow);
}

.mood-button-blue {
    --btn-color: var(--color-blue);
}
